:root {
  /* colors */
  --paper: hsl(0deg 0% 95%);
  --ink: hsl(0deg 0% 5%);
  --link: hsl(210deg 70% 30%);
  --terminal: hsl(0deg 0% 85%);

  /* font families */
  --serif: 'Iowan Old Style', 'Apple Garamond', 'Baskerville', 'Times New Roman',
    'Droid Serif', 'Times', 'Source Serif Pro', serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  --sans: -apple-system, 'BlinkMacSystemFont', 'avenir next', 'avenir',
    'segoe ui', 'helvetica neue', 'helvetica', 'Ubuntu', 'roboto', 'noto',
    'arial', sans-serif;
  --mono: ui-monospace, menlo, monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  /* layouts */
  --lyt-center-gutters: 2rem;
  --lyt-center-max-width: 60rem;
  --lyt-sidebar-gap: 1rem;
  --lyt-sidebar-min-content-width: 70%;
  --lyt-stack-gap: 1rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --paper: hsl(0deg 0% 5%);
    --ink: hsl(0deg 0% 95%);
    --link: hsl(210deg 70% 70%);
    --terminal: hsl(0deg 0% 15%);
  }
}
